body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather',serif;
}

body {
    display: block;
  }
  .top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}

div {
    display: block;
}
body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather',serif;
}
.top-cloud {
    position: absolute;
    top: 50px;
    right: 250px;
}
h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    color: #66BFBF;
}
user agent stylesheet
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather',serif;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #66BFBF;
    font-weight: normal;
}
user agent stylesheet
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather',serif;
}
.bottom-cloud {
    position: absolute;
    bottom: 300px;
    left: 250px;
}
.bottom-container {
    background-color: #66BFBF;
    padding: 40px;
    color: #EAF6F6;
}
